# Ex 1: Quality of Government Dataset
Read in the government dataset directly from "http://www.qogdata.pol.gu.se/data/qog_std_cs_jan19.csv"

Import pandas package and read in url.

In [89]:
import pandas as pd

url = "http://www.qogdata.pol.gu.se/data/qog_std_cs_jan19.csv"
df=pd.read_csv(url)
df=pd.DataFrame(data)

print(df)

     ccode        cname ccodealp  ccodecow  ccodewb        version  aid_cpnc  \
0        4  Afghanistan      AFG     700.0      4.0  QoGStdCSJan19       NaN
1        8      Albania      ALB     339.0      8.0  QoGStdCSJan19       NaN
2       12      Algeria      DZA     615.0     12.0  QoGStdCSJan19       NaN
3       20      Andorra      AND     232.0     20.0  QoGStdCSJan19       NaN
4       24       Angola      AGO     540.0     24.0  QoGStdCSJan19       NaN
..     ...          ...      ...       ...      ...            ...       ...
189    860   Uzbekistan      UZB     704.0    860.0  QoGStdCSJan19       NaN
190    862    Venezuela      VEN     101.0    862.0  QoGStdCSJan19       NaN
191    882        Samoa      WSM     990.0    882.0  QoGStdCSJan19       NaN
192    887        Yemen      YEM     679.0    887.0  QoGStdCSJan19       NaN
193    894       Zambia      ZMB     551.0    894.0  QoGStdCSJan19       NaN

     aid_cpsc  aid_crnc  aid_crnio  ...  wwbi_rrespubpemp  wwbi_sprpempn  \
0         NaN      29.0       13.0  ...               NaN            NaN
1         NaN      26.0       13.0  ...           0.19397            NaN
2         NaN      21.0        6.0  ...               NaN            NaN
3         NaN       NaN        NaN  ...               NaN            NaN
4         NaN      22.0       13.0  ...               NaN            NaN
..        ...       ...        ...  ...               ...            ...
189       NaN      21.0       16.0  ...               NaN            NaN
190       NaN      20.0        6.0  ...               NaN            NaN
191       NaN      10.0        7.0  ...               NaN            NaN
192       NaN      26.0       16.0  ...               NaN            NaN
193       NaN      22.0       18.0  ...               NaN            NaN

     wwbi_sprpempp  wwbi_sprpemps  wwbi_sprpempt  wwbi_spupempn  \
0              NaN            NaN            NaN            NaN
1              NaN            NaN            NaN            NaN
2              NaN            NaN            NaN            NaN
3              NaN            NaN            NaN            NaN
4              NaN            NaN            NaN            NaN
..             ...            ...            ...            ...
189            NaN            NaN            NaN            NaN
190            NaN            NaN            NaN            NaN
191            NaN            NaN            NaN            NaN
192            NaN            NaN            NaN            NaN
193            NaN            NaN            NaN            NaN

     wwbi_spupempp  wwbi_spupemps  wwbi_spupempt  wwbi_tertiarypubsec
0              NaN            NaN            NaN                  NaN
1              NaN            NaN            NaN             0.546449
2              NaN            NaN            NaN                  NaN
3              NaN            NaN            NaN                  NaN
4              NaN            NaN            NaN                  NaN
..             ...            ...            ...                  ...
189            NaN            NaN            NaN                  NaN
190            NaN            NaN            NaN                  NaN
191            NaN            NaN            NaN                  NaN
192            NaN            NaN            NaN                  NaN
193            NaN            NaN            NaN                  NaN

[194 rows x 1983 columns]

## How many rows does this dataset have?

Use len() to get amount of rows.

In [49]:
n_rows = len(df)

print("The dataset has {} rows.".format(n_rows))

The dataset has 194 rows.

## How many columns does this dataset have?

Use len() to get amount of columns.

In [50]:
n_columns = len(df.columns)

print(n_columns)

1983

## Select the following columns from the dataset: 

"cname", "wdi_pop", "wdi_popgr", "wdi_gdpcapcur", "wdi_gdpcapgr", "wdi_area", "wdi_broadb", "ht_region"

In [73]:
s_columns = df[["cname", "wdi_pop","wdi_popgr", "wdi_gdpcapcur", "wdi_gdpcapgr", "wdi_area", "wdi_broadb", "ht_region"]]
print(s_columns)

#Alternatively: Access columns via position
#print(df.iloc[:, [0, 1]])

           cname     wdi_pop  wdi_popgr  wdi_gdpcapcur  wdi_gdpcapgr  \
0    Afghanistan  33736496.0   2.943234     569.577942     -1.628298
1        Albania   2880703.0  -0.291206    3952.830811      2.516853
2        Algeria  39871528.0   1.919959    4160.220215      1.790254
3        Andorra     78014.0  -1.537836   36038.269531      2.404977
4         Angola  27859304.0   3.428021    3683.552490     -0.471272
..           ...         ...        ...            ...           ...
189   Uzbekistan  31298900.0   1.744258    2137.576904      6.132535
190    Venezuela  31155134.0   1.346708   15692.413086     -5.209202
191        Samoa    193759.0   0.761047    4149.411621      0.864223
192        Yemen  26916208.0   2.520254    1285.562988    -38.711018
193       Zambia  16100587.0   3.024123    1313.889648     -0.145952

      wdi_area  wdi_broadb  ht_region
0     652860.0    0.020948          8
1      27400.0    8.307929          1
2    2381740.0    5.691650          3
3        470.0   39.344219          5
4    1246700.0    0.551238          4
..         ...         ...        ...
189   425400.0    5.771516          1
190   882050.0    8.281396          2
191     2830.0    1.075563          9
192   527970.0    1.467517          3
193   743390.0    0.145274          4

[194 rows x 8 columns]

## Rename the columns to: "country", "population","population_growth", "gdp_per_capita", "gdp_growth", "area", "internet", "region"

Use df.rename to rename the columns with a dictionary.

In [106]:
df.rename(columns={"cname" : "country", "wdi_pop" : "population", "wdi_popgr" : "population_growth", "wdi_gdpcapcur" : "gdp_per_capita", "wdi_gdpcapgr" : "gdp_growth", "wdi_area" : "area", "wdi_broadb" : "internet", "ht_region" : "region"})

,ccode,country,ccodealp,ccodecow,ccodewb,version,aid_cpnc,aid_cpsc,aid_crnc,aid_crnio,...,wwbi_rrespubpemp,wwbi_sprpempn,wwbi_sprpempp,wwbi_sprpemps,wwbi_sprpempt,wwbi_spupempn,wwbi_spupempp,wwbi_spupemps,wwbi_spupempt,wwbi_tertiarypubsec
0,4,Afghanistan,AFG,700.0,4.0,QoGStdCSJan19,NaN,NaN,29.0,13.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,8,Albania,ALB,339.0,8.0,QoGStdCSJan19,NaN,NaN,26.0,13.0,...,0.19397,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.546449
2,12,Algeria,DZA,615.0,12.0,QoGStdCSJan19,NaN,NaN,21.0,6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,20,Andorra,AND,232.0,20.0,QoGStdCSJan19,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,24,Angola,AGO,540.0,24.0,QoGStdCSJan19,NaN,NaN,22.0,13.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
189,860,Uzbekistan,UZB,704.0,860.0,QoGStdCSJan19,NaN,NaN,21.0,16.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
190,862,Venezuela,VEN,101.0,862.0,QoGStdCSJan19,NaN,NaN,20.0,6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
191,882,Samoa,WSM,990.0,882.0,QoGStdCSJan19,NaN,NaN,10.0,7.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
192,887,Yemen,YEM,679.0,887.0,QoGStdCSJan19,NaN,NaN,26.0,16.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
193,894,Zambia,ZMB,551.0,894.0,QoGStdCSJan19,NaN,NaN,22.0,18.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Prove that columns are renamed.

In [111]:
print(df[["country", "population", "population_growth", "gdp_per_capita", "gdp_growth", "area", "internet", "region"]])

         country  population  population_growth  gdp_per_capita  gdp_growth  \
0    Afghanistan  33736496.0           2.943234      569.577942   -1.628298
1        Albania   2880703.0          -0.291206     3952.830811    2.516853
2        Algeria  39871528.0           1.919959     4160.220215    1.790254
3        Andorra     78014.0          -1.537836    36038.269531    2.404977
4         Angola  27859304.0           3.428021     3683.552490   -0.471272
..           ...         ...                ...             ...         ...
189   Uzbekistan  31298900.0           1.744258     2137.576904    6.132535
190    Venezuela  31155134.0           1.346708    15692.413086   -5.209202
191        Samoa    193759.0           0.761047     4149.411621    0.864223
192        Yemen  26916208.0           2.520254     1285.562988  -38.711018
193       Zambia  16100587.0           3.024123     1313.889648   -0.145952

          area   internet  region
0     652860.0   0.020948       8
1      27400.0   8.307929       1
2    2381740.0   5.691650       3
3        470.0  39.344219       5
4    1246700.0   0.551238       4
..         ...        ...     ...
189   425400.0   5.771516       1
190   882050.0   8.281396       2
191     2830.0   1.075563       9
192   527970.0   1.467517       3
193   743390.0   0.145274       4

[194 rows x 8 columns]

## Rename the region codes 1-10 with 
"Eastern Europe", "Latin America", "North Africa & Middle East", "Sub-Saharan Africa", "Western Europe and North America", "East Asia","South-East Asia", "South Asia", "Pacific", "Caribbean"

In [120]:
df.replace(to_replace=)
#df.rename({"1" : "Eastern Europe", "2" : "Latin America"})

#"Eastern Europe", "Latin America", "North Africa & Middle East", "Sub-Saharan Africa", "Western Europe and North America", "East Asia","South-East Asia", "South Asia", "Pacific", "Caribbean"

,ccode,country,ccodealp,ccodecow,ccodewb,version,aid_cpnc,aid_cpsc,aid_crnc,aid_crnio,...,wwbi_rrespubpemp,wwbi_sprpempn,wwbi_sprpempp,wwbi_sprpemps,wwbi_sprpempt,wwbi_spupempn,wwbi_spupempp,wwbi_spupemps,wwbi_spupempt,wwbi_tertiarypubsec
0,4,Afghanistan,AFG,700.0,4.0,QoGStdCSJan19,NaN,NaN,29.0,13.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,8,Albania,ALB,339.0,8.0,QoGStdCSJan19,NaN,NaN,26.0,13.0,...,0.19397,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.546449
2,12,Algeria,DZA,615.0,12.0,QoGStdCSJan19,NaN,NaN,21.0,6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,20,Andorra,AND,232.0,20.0,QoGStdCSJan19,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,24,Angola,AGO,540.0,24.0,QoGStdCSJan19,NaN,NaN,22.0,13.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
189,860,Uzbekistan,UZB,704.0,860.0,QoGStdCSJan19,NaN,NaN,21.0,16.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
190,862,Venezuela,VEN,101.0,862.0,QoGStdCSJan19,NaN,NaN,20.0,6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
191,882,Samoa,WSM,990.0,882.0,QoGStdCSJan19,NaN,NaN,10.0,7.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
192,887,Yemen,YEM,679.0,887.0,QoGStdCSJan19,NaN,NaN,26.0,16.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
193,894,Zambia,ZMB,551.0,894.0,QoGStdCSJan19,NaN,NaN,22.0,18.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [121]:
print(df["region"])

0      8
1      1
2      3
3      5
4      4
      ..
189    1
190    2
191    9
192    3
193    4
Name: region, Length: 194, dtype: int64

## Select the five countries with the highest population

## What are the mean values for each attribute?

## What are the correlation coefficients between these attributes?

## Which country has the highest population in the region "Eastern Europe"?

## Solutions

In [ ]:
# %load "23_data_exploration_exercise_1.py"

#  Ex 2: Book and Movie shop

For a virtual shop that sells movies and books, we have four tables:
    * pd_customers: Gives first- and lastname for each customer
    * pd_books: Gives the raw price for all books that are being sold
    * pd_movies: Gives the raw price for all movies that are being sold
    * pd_transactions: Gives the list of all transactions being made (which customer bought which item)

## Load all 4 datasets in separate dataframes

## Compile a listing of all items (=books and movies) that have been sold in one dataframe
The dataframe should contain two columns: "item_name" and "price"

## Join the information on customer names, transactions, and prices in one dataframe

## Compute a table of customers. For all customers give the number of items bought, the sum of these items, and the average price of the item.

## Extend that list such that it also contains customers without purchases

## Round the price mean and the price sum to two digits and export the table to a .csv file

## Compute lists of the top 10 bestselling items, both by count and by sum of prices